@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
}
#root {
  height: 100vh;
  width: 100vw;
}
.title {
  font-family: "Bebas Neue", sans-serif;
}
